@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Theme Colors */
:root {
  --primary-text: hsl(238, 29%, 16%);
  --accent-text: hsl(14, 88%, 65%);
  --neutral-text: hsl(237, 12%, 33%);
  --neutral-text-2: hsl(240, 6%, 50%);
  --divider-color: hsl(240, 5%, 91%);
  --gradient-start: hsl(273, 75%, 66%);
  --gradient-end: hsl(240, 73%, 65%);
}
/* Normalize styling */

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Page Layout */

main {
  min-height: calc(100vh - 3rem);
  display: flex;
}

footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}

body {
  background: linear-gradient(var(--gradient-start), var(--gradient-end));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: var(--neutral-text);
}

/* Card styles */
.card {
  margin: auto;
  max-width: 325px;
  background: white;
  /* padding: 2rem 1.5rem; */
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image {
  flex: 1;
  text-align: center;
  margin-top: -9rem;
}

.card-content {
  flex: 1;
}

/* .illustration {
  margin-left: -0.5rem;
  width: 95%;
}

.shadow {
  margin-top: -5.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */

.card-image img {
  width: 100%;
}

/* .card-image .desktop, .desktop-box {
  display: none;
} */

.card-title {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 30px;
  margin: 2rem 0;
  text-align: center;
}

/* accordion styles */

.accordion-item {
  border-bottom: 1px solid var(--divider-color);
  padding: 1rem 0;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s, font-weight 0.3s;
}

.accordion-button {
  background: none;
  width: 1em;
  height: 1em;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.accordion-button i {
  background-image: url("./images/icon-arrow-down.svg");
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.accordion-content {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 95%;
  padding-bottom: 0;
  transition: visibility 0s 0.3s, height 0.3s 0s, padding-top 0.3s 0s;
}

.accordion-content p {
  margin-bottom: 0;
  line-height: 1.5;
}

.accordion-item.opened .accordion-title {
  color: var(--primary-text);
  font-weight: 700;
}

.accordion-item.opened .accordion-button i {
  transform: rotate(180deg);
}

.accordion-item.opened .accordion-content {
  visibility: visible;
  color: var(--neutral-text-2);
  transition: visibility 0s 0s, height 0.3s, padding-top 0.3s;
  /* padding-top: 1em; */
  color: var(--neutral-text-2);
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 800px;
    flex-direction: row;
    padding-right: 5em;
    /* overflow: hidden; */
  }

  .card-title {
    text-align: left;
    margin: 1rem 0;
  }

  .card-content {
    padding: 3rem 1rem;
  }

  .card-image {
    margin: 0;
  }

  .desktop {
    height: 100%;
    position:relative;
  }

  .desktop .illustrations {
    background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
    background-size: 110%, 250%;
    background-repeat: no-repeat, no-repeat;
    background-position: -4rem 60%, 105% 65%;
    height: 100%;
  }

  .desktop-box {
    position: absolute;
    top: 48%;
    left: -5.75rem;
  }

  .desktop-box img {
    width: 70%;
  }

  /* .illustration {
    position: absolute;
    left: -5rem;
    top: 5rem;
    width: auto;
  }

  .shadow {
    margin: 0;

    position: absolute;
    left: -25rem;
    top: -11rem;
    width: 100%;
  }

  .desktop-box {
      display: inline-block;
    position: absolute;
    top: calc(50vh - 2.5rem);
    left: calc(-5.85rem + (100vw - 800px) / 2);
  } */

  /* .card-image .desktop {
    display: inline-block;
  }
  .card-image .mobile {
    display: none;
  } */
}
